/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;900&display=swap');

/* GLOBAL STYLES */

:root {
  --font-primary: "Raleway";
  --font-secondary: "Raleway";
  --font-code: "Raleway";
  --bg-color: #000000;
  --bg-color-transparent: #00163f80;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --accent-color: #6e0000;
  --header-btn-color: #ad0101;
  --header-shadow: var(--accent-color) 0px 0px 5px;
  --card-shadow: var(--accent-color) 0px 0px 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url('../images/background images/Mask Landing Page.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem 2rem;
  justify-content: center;
  overflow: hidden;
}

/* HEADER */

header {
  background-color: var(--bg-color);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.menu img:hover {
  filter: brightness(0) saturate(100%) invert(12%) sepia(100%) saturate(3497%) hue-rotate(340deg) brightness(83%) contrast(114%);
  transition: all 0.3s ease;
}

.logo a img {
  height: 50px;
  width: 50px;
}

.logo a img:hover {
  filter: brightness(0) saturate(100%) invert(12%) sepia(100%) saturate(3497%) hue-rotate(340deg) brightness(83%) contrast(114%);
}

/* NOT CONNECTED */

.not-connected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; /* Change to 100vh */
  text-align: center;
  opacity: 0;
  transform: translateY(10vh);
  transition: all 0.5s ease-in-out;
  background-color: transparent;
}

.show-not-connected {
  opacity: 1;
  transform: translateY(0);
}

.buy-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.buy-button {
  margin-top: calc(100vh - (100vh / 3) - 20px);
  padding: 0.5rem 0.1rem;
  border: 2px solid;
  border-radius: 1rem;
  padding: 1rem;
  background-color: transparent;
  color: white;
  border-color: var(--accent-color);
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}

.buy-button:hover {
  color: var(--header-btn-color);  
}

/* Socials dropdown */

.dropdown {
  overflow: hidden;
}

.socials-button:hover {
  color: var(--header-btn-color);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: var(--accent-color);
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 0.5rem 0.6rem;
  background-color: transparent;
  border: 2px solid;
  border-color: var(--accent-color);
  color: white;
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: var(--header-shadow);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}
.btn:disabled {
  cursor: default;
}

.chapters-button, .world-button, .socials-button {
  display: inline-block;
  padding: 0.5rem 0.1rem;
  border: none;
  background-color: transparent;
  color: white;
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}

.chapters-button:hover {
  color: var(--header-btn-color);    
}

.world-button:hover {
  color: var(--header-btn-color);  
}

.wallet-btn {
  border-radius: 5rem;
}

.wallet-btn:hover {
  background: var(--accent-color);
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}

.closebutton-container{
  display: flex;
  justify-content: right;
}

/* wallet button connected class */

.wallet-btn-connected {
  pointer-events: none;
  background-color: var(--accent-color);
}

/* CARD */

.card {
  position: relative;
  background-color: var(--bg-color);
  border-radius: 5px;
  box-shadow: var(--card-shadow);
  padding: 2rem;
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}

.show-card {
  opacity: 1;
  transform: translateX(0);
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

#countdown {
  display: none;
  text-align: center;
}

.countdown {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.countdown:hover::before {
  opacity: 1;
}

.countdown::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.countdown ul {
  display: flex;
  gap: 2rem;
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  text-align: center;
}

.countdown h2 {
  margin-top: 1rem;
}

.countdown > p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 4rem;
  text-align: center;
}

/* MINT CONTAINER */

.mint-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.mint-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: transparent;
  border-radius: 5px;
}

.mint-qty > span {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.mint-btn {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: auto;
}

.input-number {
  height: 100%;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  user-select: none;
}

.input-number-decrement {
  /* Custom styles for decrement button */
  font-size: 1.2rem;
  font-weight: 700;
  
}

.input-number-increment {
  /* Custom styles for increment button */
  font-size: 1.2rem;
  font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.total-price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 2rem;
}

/* MINTED CONTAINER */

.minted-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.minted-container h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.minted-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.minted-container p {
  margin: 1rem 0;
}

/* SPINNER */
.dot-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 0.5rem 1rem;
    max-width: 8rem;
  }
  .not-connected {
    border-radius: 5px;
    padding: 2rem;
    margin: 0 auto;
  }

  .countdown ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .countdown .clock-item {
    width: 100%;
  }
  .countdown .clock-item .count-number {
    font-size: 1.5rem;
  }
  .countdown .clock-item .count-text {
    font-size: 1rem;
  }
  .countdown h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .countdown h2 {
    padding-top: 0.5rem;
  }
  .countdown p {
    font-size: 1rem;
  }
  .card {
    padding: 1rem;
  }
  .mint-qty .btn {
    padding: 1rem;
    font-size: 13px;
  }
}

/* UTILITIES */

.hidden {
  display: none;
}
